# ignore temp dir
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.idea/
.vs/
csconfig
UnLuaPro.sln
!Plugins/UnLua/Source/ThirdParty/Lua/lua-5.4.3/**
/Plugins/LuaWidgetBase
/Build
Backup/
UpGradeLog.htms